<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.vayunmathur.notes.permissions.ACCESS_NOTES"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:backupAgent=".util.AppBackupAgent"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.General">
        <activity
            android:configChanges="mcc|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.General">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open a Markdown file (e.g. tapping a shared .md) by its MIME type. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
            </intent-filter>

            <!-- Receive a Markdown file shared from another app (ACTION_SEND). -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
            </intent-filter>

            <!-- Fallback: match the .md/.markdown extension when the file is
                 delivered with a generic MIME type (common on older devices
                 that don't map .md to text/markdown). -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathSuffix=".md" />
                <data android:pathSuffix=".markdown" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.markdown" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intents.GetIntent"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:permission="com.vayunmathur.notes.permissions.ACCESS_NOTES">
        </activity>

        <activity
            android:name=".intents.InsertIntent"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:permission="com.vayunmathur.notes.permissions.ACCESS_NOTES">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vayunmathur.notes.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>